/*框架样式_BEGIN*/
html, body {
    height: 100%;
    margin: 0;
}

#__view__ {
    height: auto;
    min-height: 100%;
}

#__body__ {
    padding-bottom: 60px;
    padding-top: 1px;
}

#__frame__ {
    padding-top: 1px;
    margin-top: 32px;
}

.clearfix:after{
  content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
}

.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
}
/*框架样式_END*/

/*====================================================================================*/

/*全局字体，颜色_BEGIN*/
body {
    font-family: arial;
    font-size: 12px;
    color: #000000;    
    background-color: #eeeeee;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*全局字体，颜色_END*/

/*====================================================================================*/

/*标题栏样式_BEGIN*/
header > a, header > * a,
#header > a, #header > * a {
    color: #ffffff;
}

header, #header {
    height: 33px;
    margin-top: -1px;
    width: 100%;
    min-width: 800px;
    background-color: black;
    position:fixed;
}
/*标题栏样式_END*/

/*====================================================================================*/

/**/
#siteName {
    height: 33px;
    width: 110px;    
    line-height: 33px;
    padding-left: 3px;
    text-align: left;
    color: #fff;
    font-size: 24px;
    float: left;
}
/**/

/*====================================================================================*/

/**/
nav, #nav {
    margin-left: 100px;
    height: 33px;
    width: auto;    
    line-height: 33px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
    color: #fff;
    font-size: 12px;
    float: left;
}
/**/

/*====================================================================================*/

/**/
#searchForm {
    margin-right: 3px;
    height: 33px;
    width: 270px; 
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    float: right;
}

#searchForm > form > #sboxs {
    margin: -1px 0 0 0;
    padding: 0;
    margin-right: 0;
    border-right-width: 0;
    background-color: #ffffff;
    height: 22px;
    width: 200px;
    vertical-align: middle;
    line-height: 22px;
    overflow: hidden;
    display: inline-block;
}

#searchForm > form > #sboxs > .searchBox {
    padding-left: 3px;
    background: transparent;
    border: 0;
    outline: 0;
    width: 192px;
    color: #666666;
    display: inline-block;
    text-align: left;
}

#searchForm > form > #sbtns {
    margin: -1px 0 0 0;
    padding: 0;
    margin-right: 0;
    border-right-width: 0;
    background-color: #ffffff;
    height: 22px;
    width: 60px;
    vertical-align: middle;
    line-height: 22px;
    overflow: visible;
    display: inline-block;
    z-index: 0;
}

#searchForm > form > #sbtns > .searchBtn {
      height: 22px;
      width: 60px;
      border: 0;
      padding: 0;
      color: white;
      background: #3385ff;
      cursor: pointer;
      
      /*IOS下按钮处理*/
      -webkit-appearance: none;
      border-radius: 0;
      /*IOS下按钮处理_END*/
}

#searchForm > form > #sbtns > .searchBtn:hover {
    background: #317ef3;
}
/**/

/*====================================================================================*/

/**/
#userInfo {
    height: 33px;
    width: 110px;
    text-align: center;
    line-height: 33px;
    padding-right: 3px;
    color: #fff;
    float: right;
}
/**/

/*====================================================================================*/

/**/
footer, #footer {
    clear: both;
    display: block;
    margin-top: -60px;
    padding-top: 10px;
    height: 50px;
    position: relative;
    text-align: center;
    color: #666666;	
    background-color: #dddddd;    
}

footer > a#icp, 
#footer > a#icp{
    color: #666666;
}
/**/

/*====================================================================================*/

/**/
.odd {
    background-color: #dddddd;
}

.even {
    background-color: #cccccc;
}